@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root{
    --header-height:3rem;
    --hue-color: 250;

    --first-color: hsl(var(--hue-color), 69%, 61%);
    --text-color: hsl(var(--hue-color), 8%, 65%);
    --title-color: hsl(var(--hue-color), 8%, 15%);
    --body-color: hsl(var(--hue-color), 28%, 12%);          /* 比较暗的蓝紫色 */

    /*========== Font and typography ==========*/
    --body-font: 'Poppins', sans-serif;

    --mb-1-5: 1.5rem;

    /* .5rem = 8px, 1rem = 16px, 1.5rem = 24px ... */
    --big-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1.125rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;
    
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 600;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
    --z-modal: 1000;
}

/* Font size for large devices */
@media screen and (min-width: 968px) {
    :root {
        --big-font-size: 3rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

/* --------------------------------Base-------------------------------- */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    margin: 0 0 var(--header-height) 0;
    /*font-family: var(--body-font);*/
    font-size: var(--normal-font-size);
    /*background-color: var(--body-color);*/
    background-color: black;
    color: var(--text-color);
}

/* --------------------------------Layout-------------------------------- */
.container {
    max-width: 768px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}
.grid {
    display: grid;
    gap: 1.5rem;
}
.header{
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}


/*.wrap{ max-width: 100%;}        !* 按百分比设置最大宽度，可以更好的适配不同尺寸的屏幕*!*/

/* --------------------------------顶部布局-------------------------------- */
.nav {
    /*background: var(--body-color);  !* 修改的背景色 *!*/
    /*position: fixed;                !* 将元素固定在视口（viewport）的特定位置，即使页面滚动，元素也会保持在屏幕上的固定位置。*!*/
    /*width: 100%;*/
    /*top: 0;*/
    /*left: 0;*/
    /*max-width: 1200px;*/
    /*height: 40px;                   !* 设置导航栏高度为50像素 *!*/
    /*margin: 0 0 var(--header-height) 0;             !* 外边距：上右下左分别为0,0,10px,0，与下方内容保持间距 *!*/
    /*z-index: 1000;                  !* 设置高堆叠顺序，确保导航栏总是显示在最上层 *!*/
    /*display: flex;                  !* 使用Flexbox布局模型 *!*/
    /*justify-content: right;         !* Flex项目在主轴上右对齐（靠右排列） *!*/
    /*align-items: center;            !* Flex项目在交叉轴上居中对齐（垂直居中） *!*/
    /*padding: 0px 5%;*/
    /*box-shadow: 0 -1px 4px rgba(0,0,0,.15);*/
    /*transition: all 0.3s ease;*/

    max-width: 968px;
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo,
.nav__toggle{
    color: var(--title-color);
    font-weight: var(--font-medium);
}
.nav__logo:hover{
    color: var(--first-color);
}

/*.top-nav .nav {*/
/*    display: flex;*/
/*    list-style: none;*/
/*    gap: 25px; !* 导航项间距 *!*/
/*    margin-right: 15%;*/
/*}*/

.nav a:hover,
.nav a.active {
    color: var(--first-color);
    background: rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: right;
    gap: 15px;
}

.logo img {
    width: 30px;
    height: 30px;
    /*border-radius: 50%;*/
    /*border: 2px solid #ff9c1d;*/
    transition: transform 0.5s;
}

.logo-text {
    font-size: 1rem;
    font-weight: 700;
    color:var(--title-color);
}

/* -- 头像 -- */
.sidebar .avatar{
    width: 120px;
    height: 120px;
    margin: 2em auto;
    background: #fff;
    border-radius: 100%;
    border: #fff 1px solid;
    transition: transform 0.5s;
}
.sidebar .avatar:hover{
    transform: scale(1.1);
}
.sidebar .avatar img{
    border-radius: 100%;
}

/* -- 侧边栏导航 -- */
/*.sidebar .nav{*/
/*    margin: 0;*/
/*    margin-top: 40px;*/
/*    display: flex;*/
/*    list-style: none;*/
/*    flex-direction: row;*/
/*    transition: transform 0.5s ease;*/
/*}*/
/*.sidebar .nav a{*/
/*    color: #fff;    !* 左侧边栏字体默认颜色 *!*/
/*    padding: 1em;*/
/*    display: block;*/
/*    text-align: center;*/
/*    transition: background .3s, box-shadow .3s ,transform .5s ease;*/
/*}*/
/*.sidebar .nav a:hover{*/
/*    color: #ff9c1d;         !* 左侧边栏悬停时字体颜色 *!*/
/*    background: rgba(0, 0, 0, .2);*/
/*    transform: scale(1.2);*/
/*}*/

/* 右侧主体*/
main{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;     /* 让main标签内的内容水平剧中 */
    padding: 20px;
}

/* 响应式设计：当屏幕宽度 ≤ 900px 时触发的样式 */
@media screen and (max-width: 900px) {
    .sidebar {
        width: inherit;
        position: relative;
    }
    .sidebar .nav{
        background: #39404f;
        flex-direction: row;
        justify-content: center;
    }
    .sidebar .nav a:hover{
        background: none;
        box-shadow: 0 -3px 0 #fff inset;
    }
    main{
        margin-left: 0;
    }
}

@media print{
    .sidebar{
        display: none;
    }
    main{
        margin-left: 0;
    }
}


/* 2 - 正文
-------------------------------- */
main section{
    padding: 4em 0;     /* 每一个Section块的边距*/
    position: relative;
}
@media screen and (max-width: 900px) {
    main section{
        padding: 3em 0;
    }
} 

/*#skills{ background: #232933}*/
/*#works{ background: #232933 fixed; }*/

/* 每一个模块的说明标签 */
.title{
    margin-bottom: 1em;
}
/* 在模块标签前面加一个图标，图标使用下面的程序图标生成 */
.title:before{
    float: left;
    margin-right: 1em;
    font-family: "FontAwesome";
}
/* 这里的\内容表示以Unicode编码表示FontAweaome图标*/
#info .title:before{
    content: "\f005";       /* 星标 */
}
#skills .title:before{
    content: "\f19d";       /* 毕业帽 */
}
#story .title:before{
    content: "\f0b1";       /* 公文包 */
}
#works .title:before{
    content: "\f091";       /* 奖杯 */
}
#team .title:before{
    content: "\f024";       /* 旗帜 */
}

/* - 技能 */
/* 这里的.skills会覆盖掉上面定义的#skills，上面的#skills仅定义了一个背景颜色，这里的.skills定义了一个圆，背景为白色*/
.skills{
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 2px;
    background: #ffffff;
    border-radius: 100%;
    box-shadow: 0 8px rgba(0,0,0,0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* 确保图片不超出圆形边界 */
    transition: transform 0.5s ease; /* 添加悬停动画 */
}
.skills:hover{
    transform: scale(1.13);
}
/* .skills i{
    font-size: 50px;
    line-height: 100px;
} */
.skills img {
    width: 70%; /* 控制图片大小 */
    height: 70%;
    max-width: 100%;
    object-fit: contain; /* 保持图片比例 */
}
.skills-title{
    margin-top: 0.5em;
    text-align: center;
}

/* - 经历 */
.timeline{
    list-style: none;
    margin-left: 1em;
    padding-left: 1.5em;
    border-left: 2px grey solid;
}
.timeline .time{
    display: inline-block;
    width: 400px;
}
.timeline .job{
    margin-left: 40px;
    color: #c0c0c0;
}

.timeline li{
    line-height: 1.5em;
    position: relative;
    margin-bottom: 1.5em;
}
.timeline li:hover:before{
    transform: scale(1.2, 1.2);
}
.timeline li:before{
    content: "";
    left: -2.3em;
    width: 1.5em;
    height: 1.5em;
    display: block;
    position: absolute;
    background: #f8bd24;
    border-radius: 100%;
    transition: transform .3s;
}

/* - 作品 */
.works-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 0.2px 0.2px rgba(0,0,0,0.4);
    transition: all 0.3s ease;
}
.works-item:hover{
    box-shadow: 0 0.2px 10px rgba(0,0,0,0.2);
    transition: transform 0.3s;
    cursor: zoom-in;                /* 默认显示放大镜（表示可放大） */
}
.works-item img{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s;
}
.works-item img:hover{
    transform: scale(1.05, 1.05);
}
.works-item p{
    padding: 0.6em 0;
    text-align: center;
    margin: 0;
    background: #f8f9fa;
}

/* 3 - 页尾
-------------------------------- */
footer{
    max-height: 40px;
    padding: 0.5em 0;
    text-align: center;
    box-sizing: border-box;
    background: #4b4b4b;
    color: #e5e9eb;
    overflow: hidden;
}
footer a{
    color: inherit;
}

/* --拓展部分(图片查看器样式)-- */
.gallery-window {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;                           /* 弹出页面窗口宽度 */
    height: 100%;
    background: rgba(0, 0, 0, 0.6);     /* 弹出页面时的背景颜色以及透明度 */
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    /* 添加模糊效果 */
    backdrop-filter: blur(4px); /* 模糊程度，可根据需要调整 */
    -webkit-backdrop-filter: blur(8px); /* 兼容Safari */
}
.gallery-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;                 /* 弹出页面图片填充在窗口中的宽度 */
    height: 100%;
}
.gallery-image {
    max-width: 100%;
    max-height: 90vh;
    cursor: zoom-out;           /* 如果图片已放大，则显示缩小光标 */
}
.gallery-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(220, 220, 220, 0.5);
    color: white;
    border: none;
    font-size: 2rem;
    padding: 15px 15px;         /* 左右padding相同 */
    cursor: pointer;
    width: 45px;                /* 新增宽度 */
    height: 45px;               /* 新增高度 */
    border-radius: 50%;         /* 使用50%确保完美圆形 */
    display: flex;              /* 新增，用于居中箭头 */
    align-items: center;        /* 新增，垂直居中 */
    justify-content: center;    /* 新增，水平居中 */
    z-index: 1001;
}
.gallery-nav:hover {
    background: rgba(255, 255, 255, 0.2);         /* 鼠标悬停在圆形区域时显示的颜色以及透明度 */
}
.gallery-prev {
    left: 10px;                                     /* 圆形区域距离打开窗口左边的像素距离 */
}
.gallery-next {
    right: 10px;                                    /* 圆形区域距离打开窗口右边的像素距离 */
}
.gallery-counter {
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    padding: 2px 20px;                  /* 数量显示的宽高值 */
    border-radius: 20px;                /* 将下面的数量显示UI变为圆角形状 */
    font-size: 1.5rem;
}

/*--作品页面函数--*/
.addWindow{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #292e39;
    transition: all 0.3s ease;
}
.windowMargins{
    margin: 3%;
}
.windowBox{
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}
.windowBox:hover{
    cursor:zoom-in;
}
.windowBox img{
    width: 100%;
    height: 100%;
    display: block;
    transition:transform 0.3s;
}
.windowBox img:hover{
    transform:scale(1.05,1.05);
}
.windowBox p{
    padding: 0.8em 0;
    text-align: center;
    margin: 0;
    color: #000000;
    background-color: #e3e3e3;
}