@charset "UTF-8";

.sidebar
{
    top: 0;
    left: 0;
    bottom: 0;
    color: #000;
    width: 250px;
    position: fixed;
    overflow: hidden;
    overflow-y: auto;
    background: #ffc91d;
}

.sidebar .avatar
{
    width: 160px;
    height: 160px;
    margin: 2em auto;
    background: #fff;
    border-radius: 100%;
    border: #fff 5px solid;
    transition: transform 0.5s;
}
.sidebar .avatar:hover
{
    transform: rotate(1turn);
}
.sidebar .avatar img
{
    border-radius: 100%;
    width: 100%;
    height: 100%;
}
